<h1>Ecommerce Tech</h1>
<div class="navbar">
    <div class="navLinks">
        <a href="/">Home</a>
        <a href="/realTimeProducts">Products</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

</div>